<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.repository.MemberRepository">

    <select id="selectOne" parameterType="String" resultType="memberDto">
        SELECT * FROM member WHERE memberid=#{memberid}
    </select>
    <select id="select" resultType="memberDto">
        SELECT * FROM member
    </select>
    <select id="searchid" parameterType="memberDto" resultType="memberDto" >
        SELECT * FROM member WHERE membernm= #{membernm}
                                       AND memberemail = #{memberemail}
    </select>
    <select id="searchpw" parameterType="memberDto" resultType="memberDto" >
        SELECT * FROM member WHERE membernm= #{membernm}
                                       AND memberid = #{memberid}
                                       AND memberemail = #{memberemail}
    </select>
    <insert id="insert" parameterType="memberDto">
        INSERT INTO member VALUES (#{memberid}, #{membernm}, #{membertel}, #{memberpwd}, #{memberaddr}, #{memberemail}, #{snsagree}, #{memberzipcode}, #{memberaddrdetail})
    </insert>
    <update id="update" parameterType="memberDto">
        UPDATE member SET memberpwd=#{memberpwd} WHERE memberid=#{memberid}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM member WHERE memberid=#{memberid}
    </delete>

</mapper>