<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.repository.ReviewRepository">

    <select id="selectOne" parameterType="String" resultType="reviewlistDto">
        SELECT * FROM reviewlist WHERE memberid=#{memberid}
    </select>
    <select id="select" resultType="reviewlistDto">
        SELECT * FROM reviewlist
    </select>
    <insert id="insert" parameterType="reviewlistDto">
        INSERT INTO reviewlist VALUES ( #{svcid}, #{memberid}, #{score}, #{review} )
    </insert>
    <update id="update" parameterType="reviewlistDto">
        UPDATE reviewlist SET review=#{review} WHERE memberid=#{memberid}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM reviewlist WHERE memberid=#{memberid}
    </delete>

</mapper>